* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

header {
  background-color: #f84453;
  display: flex;
}

body {
  background-color: #0f141b;
}

h2 {
  margin-left: 1rem;
  color: white;
}

h2 > a {
  color: white;
  text-decoration: none;
}

header > img {
  padding-left: 1rem;
}

.fa-bars {
  color: white;
}

.search-box {
  border: none;
  border-radius: 0.6em;
  background-color: #5c5f74;
  width: 80%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.red-box > img {
  width: 55px;
  height: 60px;
  padding: 0.3rem;
}

.red-box {
  background-color: #f84453;
  width: 70px;
  height: 70px;
  border-radius: 0.5em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 105px;
  margin-bottom: 3rem;
}

.mobile-search {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mobile-search > button {
  margin-left: 0.6rem;
  background-color: #f84453;
  border-radius: 0.3em;
  border: none;
  color: white;
  height: 36px;
  width: 75px;
}

.mobile-search > input {
  border: none;
  border-radius: 0.3em;
  width: 200px;
  height: 36px;
  padding: 0.4rem;
}

.search-box-content > form > input,
.search-box-content > form > button {
  border-radius: 0.3em;
  border: none;
}

.search-box-content > form > input {
  padding: 6px 12px;
  width: 200px;
  height: 36px;
}

.search-box-content > form > button {
  background-color: #f84453;
  color: white;
  margin-left: 0.5rem;
  padding: 0;
  width: 75px;
  height: 36px;
}

.text {
  color: white;
  background-color: #f84453;
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #868686;
}

.carousel-container {
  margin-top: 3rem;
}

.carousel-item > img {
  width: 100%;
  border-radius: 0.3em;
  position: relative;
  left: 8px;
}

.carousel-buttons {
  background-color: #868686;
  display: flex;
  justify-content: center;
}

.circle-button {
  border-radius: 50%;
  border: none;
  height: 1rem;
  width: 1rem;
  margin: 0.5rem 0.6rem 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.circle-button:active {
  background-color: #f84453;
}

.button-right,
.button-left {
  background-color: #868686;
  border: none;
  height: 100%;
  color: white;
  margin-top: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.4s;
}

.button-left:active,
.button-right:active {
  color: #f84453;
}

.fa-chevron-left {
  margin-left: 1rem;
}

.fa-chevron-right {
  margin: 0 1rem;
}

.box > i {
  font-size: 2rem;
  padding: 1rem 0;
  position: relative;
  top: 5px;
}

.box {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem 0.8rem;
  border-radius: 0.4em;
  margin: 1rem 0 0 110px;
}

.box:active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.nav-search {
  display: none;
}

header > h3 > a {
  display: none;
}

.dropdown-menu > h3 > a {
  text-decoration: none;
  color: black;
}

.dropdown-menu {
  border: 1px white solid;
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  text-align: end;
}

.dropdown-modal {
  position: absolute;
  top: 75px;
  right: 0;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu > a > i {
  font-size: 1.3rem;
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
}

.grey-page {
  background-color: #0f141b;
  height: 100%;
}

.grey-page > div {
  border-bottom: solid 2px #f84453;
  margin-bottom: 3rem;
}

.header {
  background-color: #5c5f74;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.agent-container,
.map-container,
.weapon-container,
.search-container {
  width: 80%;
  background-color: #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 3rem 4rem;
  border-radius: 0.3em;
}

.agent-image-container,
.map-image-container,
.weapon-image-container,
.search-image-container {
  background-color: #ddd;
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 3rem 2rem;
  padding: 0.5rem;
  border-radius: 0.4em;
}

.agent-image,
.map-image,
.weapon-image,
.search-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.3em;
}

.agent-name,
.map-name,
.weapon-name,
.search-name {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  margin-top: 1.3rem;
  margin-left: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.star-button {
  background-color: #bbb;
  font-size: 1.5rem;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  left: 135px;
  bottom: 35px;
  transition: 0.4s;
}

.favorite {
  color: #fdd663;
}

.gif {
  display: none;
}

#agent-select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  color: white;
  font-size: 1.5rem;
}

a > h3 {
  color: white;
  text-decoration: underline;
  transition: 0.3s;
}

#agent-comp {
  font-size: 1.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

#comp-header {
  flex-direction: column;
}

#composition-entry {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem;
}

.map-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5em;
  border: none;
}

#create-composition {
  background-color: #bbb;
  display: flex;
  justify-content: center;
  border-radius: 0.3em;
}

#blank {
  margin: 0;
}

.comp-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0 3rem 2rem;
  border-radius: 0.3em;
}

.select-map {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  align-self: start;
}

#select-map {
  width: 100%;
  height: 1.5rem;
  border-radius: 0.3em;
  border: 0.5px solid black;
  background-color: white;
  padding: 0 0.4rem;
  margin-top: 2rem;
}

/* .agent-box {
  background-color: #ddd;
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin-bottom: 2rem;
  border-radius: 0.3em;
} */

.agent-pool {
  background-color: #bbb;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 0.3em;
  flex-wrap: wrap;
  align-items: center;
}

#create-comp {
  font-size: 1.8rem;
}

.comp-submit {
  border: none;
  border-radius: 0.2em;
  color: white;
  background-color: #f84453;
  padding: 5px 8px;
  margin-top: 0.5rem;
}

.agent-pool-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
  background-color: #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-button > img {
  width: 100%;
  height: 100%;
}

.icon-button {
  background-color: #ddd;
  border: none;
}

#yo {
  display: none;
}

#bo {
  color: #bbb;
  font-size: 1.5rem;
}

.comp-container > label {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 0.5rem;
}

.selected {
  border: #f84453 2px solid;
}

.map-name {
  color: white;
  margin: 0.5rem 0 0 1.5rem;
  padding: 0;
}

.agent-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.comp-container-view {
  width: 100%;
  background-color: #bbb;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 3rem 4rem;
  border-radius: 0.3em;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

li {
  display: inline-block;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .dropdown {
    display: none;
  }

  header > img {
    width: 50px;
    padding-bottom: 5px;
    margin-left: 1rem;
  }

  header > h3 > a,
  header > h3 > a > i {
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-left: 1rem;
    position: relative;
    top: 0.3rem;
  }

  header > h3 > a > i {
    margin-right: 0.3rem;
  }

  .button-left:hover,
  .button-right:hover {
    color: #f84453;
  }

  .circle-button {
    margin: 0.8rem 1rem 2rem;
  }

  .circle-button:hover {
    background-color: #f84453;
  }

  .dropdown-modal {
    display: none;
  }

  button:hover {
    cursor: pointer;
  }

  .nav-search {
    display: flex;
    align-items: center;
    position: relative;
    left: 220px;
  }

  .nav-search > input,
  .nav-search > button {
    border: none;
    border-radius: 0.3em;
    margin-left: 0.8rem;
    height: 36px;
  }

  .nav-search > button {
    background-color: #f84453;
    color: white;
    border: solid 1px white;
    width: 75px;
  }

  .nav-search > input {
    width: 220px;
    padding: 0.5rem;
  }

  .search-box {
    width: 60%;
    align-items: center;
    margin-left: 310px;
  }

  .search-box-content > form > input {
    width: 220px;
  }

  .carousel-item > img {
    width: 80%;
    margin-left: 165px;
    left: 0;
  }

  .fa-chevron-left {
    margin-left: 4rem;
  }

  .fa-chevron-right {
    margin: 0 4rem;
  }

  .mobile-search {
    display: none;
  }

  .grey-page {
    margin-top: 0;
    border-radius: 0;
  }

  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
  }

  .header > h1 {
    margin-left: 2rem;
  }

  .agent-container,
  .map-container,
  .weapon-container,
  .search-container {
    width: 26%;
  }

  #agents-list,
  #maps-list,
  #weapons-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .star-button {
    left: 145px;
  }

  .star-button:hover {
    color: #fdd700;
  }

  a > .gif {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 55px;
    margin-left: 360px;
    position: relative;
    top: 0.5rem;
  }

  .create-link {
    width: 100%;
    margin-left: 880px;
    transition: 0.3s;
  }

  a > h3:hover {
    color: #f84453;
  }

  #create-comp {
    font-size: 2rem;
  }

  #comp-header {
    flex-direction: row;
  }

  #agent-comp {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  #create-composition {
    width: 80%;
    margin: 0 0 0 10vw;
  }

  .map-image {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .map-image > img {
    height: 55vh;
  }

  .comp-container {
    width: 70%;
  }

  .comp-submit {
    font-size: 1rem;
  }

  #select-map {
    font-size: 1rem;
    padding: 0 0.4rem;
  }

  #select-map:hover {
    cursor: pointer;
  }

  .icon-button {
    margin: 0 1rem;
  }

  #blank {
    margin: 0 0 2.5rem;
  }

  #yo {
    display: flex;
    color: #0f141b;
    font-size: 2rem;
  }
}
